/* Get Started Form CSS */
body {
  background:#ECDCCC !important;
}

#gf_progressbar_wrapper_3 {
    display: none;
}

.hl {
  font-weight: bold;
  letter-spacing: 0;
}

.italic {
  font-family: 'schibkL';
  font-style: italic;
}

#gform_3 {
  font-family: 'schibkL';
}

.gform_wrapper .gfield_required {
  display: none;
}

@media screen and (max-width:767px) {
  .form_shell {
    width:97%;
    margin:auto;
  }

  .page-id-262 h1 {
    font-size:84px !important;
    line-height: 84px !important;
  }

  .page-id-262 h2 {
    font-size: 62px !important;
    line-height: 62px !important;
  }
}

/*****************
     Page 1
*****************/

#gform_page_3_1 {
  width:100%;
  margin:auto;
}

.form_header {
  padding: 40px 80px 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#field_3_72, #field_3_2, #field_3_18, #field_3_3, #field_3_4, #field_3_19  {
  width:390px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.page1_image {
  width:227px;
}

.page1_image img {
  width:100%;
}

.page1_exit {
  display: flex;
  font-family: 'Chainprinter';
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 20px;
  text-align: right;
  color: #252525;
}

.page1_exit img {
  width: 14px;
  height: 14px;
  padding-left:5px;
  padding-top:3px;
}

.page1_form_title {
  font-family: 'Roswell';
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 86px;
  text-align: center;
  color: #252525;
}

#label_3_19_1 {
  font-family: 'Chainprinter';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #252525;
  padding-left:5px;
}

#label_3_19_1 a {
  color:#44688B;
}

#field_3_2, #field_3_18, #field_3_3, #field_3_4 {
  height: 58px;
}

#input_3_2, #input_3_18, #input_3_3, #input_3_4 {
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #252525;
  padding-left:10px;
  background: none;
  border: 1px solid #252525;
}

body .gform_wrapper ul li.gfield {
  margin-top: 0px !important;
}

.gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0px !important;
}

#gform_next_button_3_1 {
  font-family: 'FuturaPTbold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ECDCCC;
  background-color:#44688B;
  border:none;
  height:91px;
  width:218px;
  margin:auto !important;
}

#choice_3_19_1 {
  margin-top: 0 !important;
}

.gform_wrapper .gform_page_footer {
  width: 218px !important;
  border-top: none !important;
  margin: auto !important;
}

#gform_page_3_1 .gform_page_footer {
    padding-top: 40px;
}

@media screen and (max-width:1023px) {

}

@media screen and (max-width:767px) {
  .form_header {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: auto;
  }

  #gform_page_3_1 {
    width:100%;
    margin:auto;
    padding:0 20px;
  }

  #field_3_72, #field_3_2, #field_3_18, #field_3_3, #field_3_4, #field_3_19 {
    width:100%;
  }

  #gform_next_button_3_1 {
    width: 100%;
  }

  .gform_wrapper .gform_page_footer {
    width: 100% !important;
  }

}

/*****************
      Page 2
*****************/

#gform_page_3_2 {
  width:455px;
  margin: 0 0 0 43%;
}

.form_sidebar {
  position: fixed;
  left:0;
  top:0;
  background-color: #425F35;
  padding: 50px 50px 50px 75px;
  height: 100%;
  overflow-y: scroll;
}

.form_sidebar::-webkit-scrollbar {
  display: none;
}

.form_sidebar_tear {
  background-image:url('https://olsonoutdoors.com/wp-content/themes/olson/resources/images/greenTear_vertical.svg');
  position: fixed;
  top:0;
  left: 385px;
  height: 102%;
  width: 118px;
  background-size: cover;
  background-position: right;
}

.backBtn {
  font-family: 'Chainprinter';
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 20px;
  color: #ECDCCC;
  padding-left:5px;
  cursor:pointer;
}

.goBack {
  display: flex;
  align-items: center;
}

.form_sidebar_title {
  font-family: 'Roswell';
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 86px;
  color: #ECDCCC;
  margin:60px 0;
}

.form_sidebar_item {
  font-family: 'FuturaPTbold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ECDCCC;
  margin-bottom:25px;
  opacity:.3;
}

.navActive {
  opacity: 1;
  position: relative;
}

.navActive::before {
  content:"";
  position: absolute;
  left:-15px;
  top:7px;
  width:7px;
  height:7px;
  border-radius:5px;
  background-color:#ECDCCC;
}

/* Next button page 2 */
.page2_next {
  position: fixed;
  right: 7%;
  /*top:598px;*/
  bottom:11%;
  cursor: pointer;
  z-index:99999;
}

.page2_next_image {
  padding:25px;
  width:68px;
  height: 68px;
  background-color: #44688B;

}

.page2_next_text {
  font-family: 'Chainprinter';
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 20px;
  color: #44688B;
  width:80px;
  padding-bottom:10px;

}

/* Page 2 hide previous button */
#gform_previous_button_3_11 {
  display: none;
}

.serviceHeading {
  margin-top: 80px;
}

.serviceHeadingOne .serviceHeading_title {
  width:310px;
}

.serviceHeading2 .serviceHeading_title {
  width:430px;
}

.serviceHeading3 .serviceHeading_title {
  width:320px;
}

.serviceHeading4 .serviceHeading_title {
  width:320px;
}

.serviceHeading5 .serviceHeading_title {
  width:290px;
}

.serviceHeading6 .serviceHeading_title {
  width:400px;
}

.serviceHeading7 .serviceHeading_title {
  width:300px;
}

.serviceHeading8 .serviceHeading_title {
  width:245px;
}

.serviceHeading9 .serviceHeading_title {
  width:335px;
}

.serviceHeading_title {
  font-family: 'Roswell';
  font-style: normal;
  font-weight: bold !important;
  font-size: 110px;
  line-height: 110px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ECDCCC;
  padding:20px;
  background-image:url('https://olsonoutdoors.com/wp-content/themes/olson/resources/images/greenTearLong.svg') !important;
  background-size: cover !important;
  background-position: center !important;
  margin-bottom:60px;
}

.serviceHeading_title.black {
  background-image: none !important;
  color: #252525;
  letter-spacing: 0 !important;
  padding-left: 0 !important;
  width:520px;
}

/*
.serviceHeading_subtitle {
  font-family: 'Roswell';
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 86px;
  color: #252525;
  margin-top:25px;
  margin-bottom:60px;
}
*/

.serviceHeading2 .serviceHeading_title.black {
  background-image: none !important;
  letter-spacing: 0 !important;
  padding-left: 0 !important;
  font-family: 'FuturaPTBold';
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15em !important;
  text-transform: uppercase;
  color: #ECDCCC;
  width: 245px;
  margin-top:20px;
}


/* service order (via options in gravity forms)  */

.service_name {
  font-family: 'FuturaPTbold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #252525;
  width:100%;

}

.service_description {
  font-family: 'schibkL';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #493D28;
  margin-top:20px;
}

.service {
  position: relative;
  margin-bottom: 60px;
}

.service_price {
  font-family: 'FuturaPTbold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color:#425F35;
  padding:5px;
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  bottom: -60px;
}

.gfield_bottomBorder {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #252525;
}

/*remove price next to add service */
.ginput_price {
  display: none;
}

/* Checkbox Changes */
.serviceAdd label {
  font-family: 'FuturaPTBold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #252525;
  margin-left: 5px !important;
}

.gfield_checkbox input {
  color: #252525;
}

.serviceAdd input:checked + label {
  color: #44688B  !important;
}

.serviceRemove label {
  font-family: 'FuturaPTBold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #252525;
  margin-left: 5px !important;
}

.serviceRemove input:checked + label {
  color: #FF0000  !important;
}

input[type=checkbox] {
  position: relative;
	cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -3px;
  left: 0;
  border: 2px solid #555555;
  background-color: #ECDCCC;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 15px;
  border: solid #252525;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
  left: 9px;
}

@media screen and (max-width:1281px) {
  #gform_page_3_2 {
    width:455px;
    margin: 0 0 0 50%;
  }

  .page2_next {
    position: fixed;
    right: 0;
    left:0;
    top: auto;
    bottom:0;
    background: #44688B;
    height:58px;
  }

  .page2_next_image {
    display: none;
  }

  .page2_next_text {
    font-family: 'Chainprinter';
    font-style: normal;
    font-weight: normal;
    font-size: 13.5px;
    line-height: 20px;
    color: #ffffff;
    width:auto;
    text-align: center;
    padding-bottom: 0;
    padding-top:20px;
  }

}

@media screen and (max-width:1023px) {

  ul#gform_fields_3_2 {
    padding-top: 210px;
  }

  .form_sidebar {
    right:0;
    z-index:99999;
    padding: 30px 0 30px 30px;
    height:225px;
  }

  #gform_page_3_2 {
    margin: 0px auto 50px auto;
  }

  .form_sidebar_items {
    display: flex;
    overflow: scroll;
    height: 23px;
    /*position: absolute;*/
    transition:.5s;
  }

  .form_sidebar_items::-webkit-scrollbar {
    display: none;
  }

  .form_sidebar_item {
    margin-bottom:0;
    line-height:16px;
    margin-right:25px;
  }

  .form_item1 {
    min-width:244px;
  }

  .form_item2 {
    min-width:98px;
  }

  .form_item3 {
    min-width:141px;
  }

  .form_item4 {
    min-width:160px;
  }

  .form_item5 {
    min-width:201px;
  }

  .form_item6 {
    min-width:145px;
  }

  .form_item7 {
    min-width:115px;
  }

  .form_item8 {
    min-width:210px;
  }

  .form_item9 {
    min-width:173px;
  }
  .form_item10 {
    min-width:163px;
  }

  .form_sidebar_title {
    margin: 20px 0;
  }

  .form_sidebar_tear {
    background-image:url('https://olsonoutdoors.com/wp-content/themes/olson/resources/images/greenTear_horizontal.svg');
    position: fixed;
    top:195px;
    left: 0;
    right:0;
    height: 60px;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index:99999;
  }

  #gform_page_3_3 .form_sidebar_tear {
    top: 160px;
  }

  .navActive {
    opacity: 1;
    background-color: #ECDCCC;
    padding: 0 5px;
    border-radius: 5px;
    color:#425F35;
  }

  .navActive::before {
    content:"";
    position: absolute;
    left:-15px;
    top:7px;
    width:0;
    height:0;
    border-radius:5px;
    background-color:#ECDCCC;
  }
}

@media screen and (max-width:767px) {
  #gform_page_3_2 {
    width:360px;
    padding:0 20px;
  }

  .serviceHeadingOne .serviceHeading_title {
    width:240px
  }

  .serviceHeading2 .serviceHeading_title {
    width:330px
  }

  .serviceHeading3 .serviceHeading_title {
    width:250px
  }

  .serviceHeading4 .serviceHeading_title {
    width:245px;
  }

  .serviceHeading5 .serviceHeading_title {
    width:225px;
  }

  .serviceHeading6 .serviceHeading_title {
    width:315px;
  }

  .serviceHeading7 .serviceHeading_title {
    width:230px;
  }

  .serviceHeading8 .serviceHeading_title {
    width:190px;
  }

  .serviceHeading9 .serviceHeading_title {
    width:260px;
  }

  #gform_page_3_2  .form_sidebar {
    height:200px;
  }
}

@media screen and (max-width:320px) {
  #gform_page_3_2 {
    width:100%;
    padding:0 20px;
  }
}

/*****************
     Page 3
*****************/

#gform_page_3_3 {
  width:455px;
  margin: 0 0 0 43%;
  padding-bottom:75px;
}

.smallTitle {
  font-size: 84px;
  line-height: 86px;
}

.serviceHeading2 {
  margin-top:60px;
}

.serviceHeading3 {
  margin-top:60px;
  margin-bottom:0px;
}

.costSummary_service {
  padding-top: 40px !important;
}

/* submit button/previous button changes */

#gform_previous_button_3 {
  display: none;
}

#gform_page_3_3 .form_sidebar {
  width: 440px;
  height:100%;
}

.serviceHeading2 .service_description {
  color:#ECDCCC;
}


#gform_submit_button_3 {
  font-family: 'FuturaPTbold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ECDCCC;
  background-color:#44688B;
  border:none;
  height:91px;
  width:328px;
  margin: 80px 0 0 0 !important;
}

.submitButton {
  display: block !important;
  width:310px !important;
}

#gform_page_3_3 .gform_page_footer {
  margin: 0 !important;
}

/* total line changes*/
#field_3_10 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    margin-top: 120px !important;
    padding-top: 40px;
    padding-bottom: 40px;
}

#field_3_10 .gfield_label {
  font-family: Chainprinter;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 20px;
  color: #252525;
}

.ginput_total_3 {
  font-family: 'FuturaPTBold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #425F35;
}

@media screen and (max-width:1281px) {
  #gform_page_3_3 {
    width:455px;
    margin: 0 0 0 50%;
  }
}

@media screen and (max-width:1023px) {
  #gform_page_3_3 {
    margin: 0px auto 50px auto;
  }

  #gform_fields_3_3 {
    padding-top: 153px;
  }

  #gform_page_3_3 .form_sidebar {
    width: 100%;
    height: 169px;
  }

  .serviceHeading_mobileHide {
    display: none;
  }

  .submitButton {
    display: none !important;
  }

  .tempNoshow {
    display: block !important;
  }

  .serviceHeading2 .serviceHeading_title.black {
    background-image: none !important;
    padding-left: 0 !important;
    font-family: 'FuturaPTBold';
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: 0.15em !important;
    text-transform: uppercase;
    color: #252525 !important;
    width: auto !important;
    margin-top: 20px;
  }

  .serviceHeading2 .service_description {
    color: #252525 !important;
  }

  #gform_submit_button_3 {
    display: block;
    margin-top:20px !important;
    width: 100%;
  }

}

@media screen and (max-width:767px) {
  #gform_page_3_3 {
    width:100%;
    padding:0 20px;
  }

  #gform_page_3_3 .serviceHeading_title.black {
    width:auto;
  }
}

/*************************
      Thank you page
*************************/

.thankYou_getStarted_image img {
  width: 100%;
}

.thankYou_getStarted_image {
  width:338px;
  margin:auto;
}

.thankYou_getStarted_text {
  width:550px;
  font-family: 'Roswell';
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 86px;
  text-align: center;
  color: #252525;
  margin:auto;
  padding-top:100px;
}

.thankYou_getStarted {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thankYou_getStarted_absolute {
  position: absolute;
  top:50px;
  right: 75px;
  display: flex;
  align-items: center;
  font-family: 'Chainprinter';
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 20px;
  text-align: right;
  color: #252525;
}

.thankYou_getStarted_absolute img {
  padding-left:5px;
}

.tempNoshow {
  display: none;
  position: relative;
}

.labelSwap::before {
  content:"Service Added";
  position:absolute;
}

@media screen and (max-width:1023px) {
  #field_3_220 {
    padding-top: 40px;
  }
}